/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("../images/background.jpg");
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 0;
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
}

nav {
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    max-width: 50px; /* Максимальная ширина логотипа */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    display: block;
    margin: 0 auto;
}



footer {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Product Grid */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px; /* Уменьшаем максимальную ширину карточки */
    margin: 10px; /* Добавляем небольшие отступы между карточками */
}

.product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Forms */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.btn {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}
